<a href="https://colab.research.google.com/github/fedhere/FDSFE_FBianco/blob/main/CodeExamples/Ztest_busDuration.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trip duration for bus Septa32 is 34 min on average (+/- 2.4).
We wonderful city planners think we have a better route that will save time.

After we change the route has the average trip duration changed?

We have measured the duration of the trips along the new route and collected the data here https://github.com/fedhere/FDSfE_FBianco/blob/main/data/triptimes.csv

# What is your Null Hypothesis?

NULL Hypothesis or H0: the sample (measured trips) mean is the same as the population mean

# HA sample mean not the same as population mean

# p-value 0.05 (probability of < 5%)

# Z = (mu - xmean) / (sig / sqrt(N))

In [1]:
import pandas as pd
import numpy as np

In [2]:
tripdur = pd.read_csv("https://raw.githubusercontent.com/fedhere/FDSfE_FBianco/main/"
                        "data/triptimes.csv", header=None)

In [ ]:
tripdur.describe()

                0
count  100.000000
mean    34.466162
std      7.137280
min     16.527267
25%     30.020542
50%     34.693057
75%     39.603456
max     48.749877

In [ ]:
N = len(tripdur)
N

100

In [ ]:
xbar = tripdur[0].mean()

In [ ]:
mu = 34
sig = 2.4

In [ ]:
z = (mu - xbar) / (sig / np.sqrt(N))
z

-1.9423403679166582